<a href="https://colab.research.google.com/github/lorduwahz/python-data-cleaning/blob/master/Data_cleaning_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('BL-Flickr-Images-Book.csv')
df.head

<bound method NDFrame.head of       Identifier  ...                                         Shelfmarks
0            206  ...                  British Library HMNTS 12641.b.30.
1            216  ...                  British Library HMNTS 12626.cc.2.
2            218  ...                  British Library HMNTS 12625.dd.1.
3            472  ...                British Library HMNTS 10369.bbb.15.
4            480  ...                   British Library HMNTS 9007.d.28.
...          ...  ...                                                ...
8282     4158088  ...  British Library HMNTS|British Library HMNTS 10...
8283     4158128  ...  British Library HMNTS|British Library HMNTS 10...
8284     4159563  ...  British Library HMNTS|British Library HMNTS 19...
8285     4159587  ...  British Library HMNTS|British Library HMNTS 10...
8286     4160339  ...  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]>

In [17]:
df.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [18]:
df['Former owner']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
8282    NaN
8283    NaN
8284    NaN
8285    NaN
8286    NaN
Name: Former owner, Length: 8287, dtype: object

In [19]:
to_drop = ['Edition Statement', 'Corporate Author',
        'Corporate Contributors',
        'Former owner',
        'Engraver',
        'Contributors',
        'Issuance type',
        'Shelfmarks'
        ]

df.drop(columns=to_drop, inplace=True)

In [20]:
df.columns

Index(['Identifier', 'Place of Publication', 'Date of Publication',
       'Publisher', 'Title', 'Author', 'Flickr URL'],
      dtype='object')

In [32]:
for column in df.columns:
  if df[column].is_unique:
    print(column)

Identifier
Flickr URL

In [21]:
df['Identifier'].is_unique

True

In [33]:
df['Flickr URL'].is_unique

True

In [36]:
df.set_index('Identifier', inplace=True)
df.head

<bound method NDFrame.head of                 Place of Publication  ...                                         Flickr URL
Identifier                            ...
206                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216         London; Virtue & Yorston  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
...                              ...  ...                                                ...
4158088                       London  ...  http://www.flickr.com/photos/britishlibrary/ta...
4158128                        Derby  ...  http://www.flickr.com/photos/britishlibrary/ta...
4159563                       London  ...  http://www.flickr.com/photos/britishlibrary/ta...
4159587          Newcastle upon Tyne  ...  http://www.flickr.com/photos/britishlibrary/ta...
4160339                       London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[8287 rows x 6 columns]>

In [41]:
df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
2957           1873
3017           1866
3131           1899
4598           1814
4884           1820
Name: Date of Publication, dtype: object

In [43]:
 extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
 extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

In [45]:
df['Date of Publication'] = pd.to_numeric(extr)
df.loc[1905:, 'Date of Publication'].head(10)

Identifier
1905    1888.0
1929    1839.0
2836    1897.0
2854    1865.0
2956    1860.0
2957    1873.0
3017    1866.0
3131    1899.0
4598    1814.0
4884    1820.0
Name: Date of Publication, dtype: float64

In [48]:
df.head()

                Place of Publication  ...                                         Flickr URL
Identifier                            ...
206                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216         London; Virtue & Yorston  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 6 columns]

In [51]:
df['Place of Publication'].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

In [55]:
pub_place = df['Place of Publication']
london = pub_place.str.contains('London')
oxford = pub_place.str.contains('Oxford')

In [56]:
df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                               pub_place.str.replace('-', ' ')))

In [58]:
df['Place of Publication'].head(20)

Identifier
206          London
216          London
218          London
472          London
480          London
481          London
519          London
667          Oxford
874          London
1143         London
1280       Coventry
1808    Christiania
1905        Firenze
1929      Amsterdam
2836         Savona
2854         London
2956          Paris
2957          Paris
3017    Puerto Rico
3131       New York
Name: Place of Publication, dtype: object

In [62]:
uni_cities = []
with open('university_towns.txt') as file:
  for line in file:
    if '[edit]' in line:
      state = line
    else:
      uni_cities.append((state, line))

uni_cities[:10]

[('Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'),
 ('Alabama[edit]\n', 'Florence (University of North Alabama)\n'),
 ('Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'),
 ('Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'),
 ('Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n'),
 ('Alabama[edit]\n', 'Troy (Troy University)[2]\n'),
 ('Alabama[edit]\n',
  'Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]\n'),
 ('Alabama[edit]\n', 'Tuskegee (Tuskegee University)[5]\n'),
 ('Alaska[edit]\n', 'Fairbanks (University of Alaska Fairbanks)[2]\n'),
 ('Arizona[edit]\n', 'Flagstaff (Northern Arizona University)[6]\n')]

In [75]:
cities_df = pd.DataFrame(uni_cities, columns=['State', 'Region_Name'])
cities_df.head(10)

             State                                        Region_Name
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n
5  Alabama[edit]\n                        Troy (Troy University)[2]\n
6  Alabama[edit]\n  Tuscaloosa (University of Alabama, Stillman Co...
7  Alabama[edit]\n                Tuskegee (Tuskegee University)[5]\n
8   Alaska[edit]\n    Fairbanks (University of Alaska Fairbanks)[2]\n
9  Arizona[edit]\n       Flagstaff (Northern Arizona University)[6]\n

In [73]:
def get_city_state(item):
  if ' ()' in item:
    return item[:item.find(' ()')]
  elif '[]' in item:
    return item[:item.find('[]')]
  else:
    return item

In [74]:
cities_df = cities_df.applymap(get_city_state)
cities_df.head(10)

     State   Region_Name
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo
5  Alabama          Troy
6  Alabama    Tuscaloosa
7  Alabama      Tuskegee
8   Alaska     Fairbanks
9  Arizona     Flagstaff